@using ShowveoService.Extensions
@using SquishIt.Framework

<!DOCTYPE html>

<html>
	<head>
		<title>Showveo</title>
		@MvcHtmlString.Create(Bundle.Css().Add("~/CSS/Common.css").Add("~/CSS/Home.css").ForceRelease().Render("all.css"))
		@MvcHtmlString.Create(Bundle.JavaScript().AddFolder("~/Resources").Add("~/Scripts/Setup.js").AddFolder("~/Scripts/Prereqs").AddFolder("~/Scripts/Home").Render("all.js"))
	</head>
    <body>
        <div class="h">
			<div class="m">
				<span id="all" class="m s">All</span>
				<span id="latest" class="m">Latest</span>
				<span id="genres" class="m">Genres</span>
				<i></i>
				<span id="uncategorized" class="m">Uncategorized</span>
				<div class="e">
					<i></i>
					<span>Currently encoding <b></b>.</span>
					<div>
						<div></div>
					</div>
					<b>%</b>
				</div>
			</div>
			<div class="s">
				<input type="text" />
			</div>
		</div>
        <div class="c">
			<div class="m">
				<div class="all mc"></div>
				<div class="latest mc"></div>
				<div class="genres mc"></div>
				<div class="uncategorized umc">
					<div class="l">
						<b>Categorize which movie?</b>
						<div class="clear"></div>
					</div>
					<div class="s">
						<b>What's the name of the movie? If you need to be more specific, enter the year as a keyword for your search.</b>
						<input type="text"/>
						<button class="s b">Search</button>
						<div class="l">
							<img src="../../Images/loader.gif" alt=""/>
						</div>
						<div class="r mc">
							<span class="e">No movies were found.</span>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="f">
			<img alt="" src="/Images/modalclose.png" />
			<span></span>
		</div>
    </body>
</html>