body>div.h { float:left; width:100%; height:50px; background:url(/images/headergradient.jpg) repeat-x; }
body>div.h>div.m {float:left;}
body>div.h>div.m>span {float:left; padding:5px 8px; border-radius:3px; color:#777; margin-top:9px; cursor:pointer; font-family:Franklin Gothic Medium; font-size:15px; text-transform:uppercase;}
body>div.h>div.m>span.m {margin-left:5px; margin-right:5px; }
body>div.h>div.m>span.m:first-child {margin-left:25px;}
body>div.h>div.m>span.u {float:right; margin-right:25px;}
body>div.h>div.m>span.s {color:#FFF !important;}
body>div.h>div.m>span.h {color:#4F87FF;}
body>div.h>div.m>span:hover {background:#273A63 url(../Images/selectedmenu.png) repeat-x; color:#CCC;}
body>div.h>div.m i {float:left; border-left:solid 1px #777; margin-top:9px; margin-left:5px; margin-right:4px; height:30px;}
body>div.h>div.m>div.e {float:left; display:none; font-size:13px; color:#DDD;}
body>div.h>div.m>div.e>span {float:left; margin-left:10px; margin-top:16px;}
body>div.h>div.m>div.e>div {float:left; width:400px; height:21px; margin-left:15px; margin-top:14px; background-color:#666; border-radius:3px;}
body>div.h>div.m>div.e>div>div {float:left; width:44%; height:100%; background-color:#3459A8; border-radius:3px;}
body>div.h>div.m>div.e>b {float:left; margin-left:5px; margin-top:16px;}
body>div.h>div.s {float:right;}
body>div.h>div.s>input {float:left; width:200px; margin-right:25px; margin-top:11px; padding:3px; color:#AAA; border-radius:3px; border:solid 1px #AAA; text-transform:uppercase; font-family:Trebuchet MS;}

body>div.c { float:left; width:100%; height:1000px; background:#BDD8ED url(/images/bodygradient.jpg) repeat-x; }
body>div.c>div.m {float:left; width:100%; }
body>div.c>div.m>div {float:left; width:100%; display:none;}
body>div.c>div.m div.mc>div {position:relative; height:250px; padding:5px;}
body>div.c>div.m div.mc>div>div {float:left; margin:5px; width:160px; height:240px;}
body>div.c>div.m div.mc>div>div>img {cursor:pointer; display:none;}
body>div.c>div.m>div.umc>div.l {position:relative; padding:10px; margin:5px; background-color:#EEE; border-radius:5px; box-shadow:5px 5px 10px #888;}
body>div.c>div.m>div.umc>div.l>b {float:left; width:100%; font-size:14px; margin-bottom:5px;}
body>div.c>div.m>div.umc>div.l>div.um {float:left; width:280px; margin:5px; font-size:12px; padding:8px 5px; border-radius:3px; background:#D0D0D0 url(../Images/umcgradient.png) repeat-x; cursor:pointer; box-shadow:2px 2px 5px #999;}
body>div.c>div.m>div.umc>div.l>div.um:hover {background:#D5C86C url(../Images/umcgradienthover.png) repeat-x;}
body>div.c>div.m>div.umc>div.l>div.clear {float:none; clear:both;}
body>div.c>div.m>div.umc>div.s {position:relative; margin-left:300px; height:100px; padding:5px; display:none;}
body>div.c>div.m>div.umc>div.s>input[type='text'] {float:left; width:95%; padding:5px; border-radius:5px; border:solid 1px #AAA;}
body>div.c>div.m>div.umc>div.s>button {float:right;}
body>div.c>div.m>div.umc>div.r {position:relative; margin-left:300px; height:200px; padding:5px; display:none;}